<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<a href="intent:#Intent;
    action=com.squareup.pos.action.CHARGE;
    package=com.squareup;
    S.com.squareup.pos.WEB_CALLBACK_URI=https://boats-web.herokuapp.com/index.html;
    S.com.squareup.pos.CLIENT_ID=sq0idp-K-i6--d9HD4fha58YpSS6w;
    S.com.squareup.pos.API_VERSION=v2.0;
    i.com.squareup.pos.TOTAL_AMOUNT=100;
    S.com.squareup.pos.CURRENCY_CODE=USD;
    S.com.squareup.pos.TENDER_TYPES=com.squareup.pos.TENDER_CARD;
    end">Start Transaction</a>
